#Content
-1 Python Libraries

-2 Data Content

-3 Read and Analyse Data

-4 Dependent Variable Analysis

-5 Correlation Between Features

-6 Distribution of Features

-7 Preprocessing: Missing Value Problem

-8 Preprocessing: Train-Test Split and Normalization

-9 Modelling: comparing models

-10 Metrics Accuracy, Precision, Recall, F1, MSE

-11 Nonparametric statistics

-12 Conclusion

##Python Libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## For Preprocessing
from sklearn.preprocessing import StandardScaler

####################
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV


## Machine Learning Algorithm
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

## To evaluate models
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

data = pd.read_csv('D:/Anderson/Downloads/data/train_diabetes.csv')

##DATA CONTENT

Columns Description:
Number of times pregnant
Plasma glucose concentration 2 hours in an oral glucose tolerance test
Diastolic blood pressure (mm Hg)
Triceps skin fold thickness (mm)
2-Hour serum insulin (mu U/ml)
Body mass index (weight in kg/(height in m)^2)
Diabetes pedigree function
Age (years)
Class variable (0 or 1)

guide: https://www.kaggle.com/code/alibabaei78/diabetesclassificationproject
repetir el video de inteligencia: https://tecnoutb.sharepoint.com/sites/INTELIGENCIAARTIFICIAL-1944-202210/Documentos%20compartidos/Forms/AllItems.aspx?id=%2Fsites%2FINTELIGENCIAARTIFICIAL%2D1944%2D202210%2FDocumentos%20compartidos%2FGeneral%2FRecordings%2FReuni%C3%B3n%20en%20%5FGeneral%5F%2D20220407%5F072231%2DGrabaci%C3%B3n%20de%20la%20reuni%C3%B3n%2Emp4&parent=%2Fsites%2FINTELIGENCIAARTIFICIAL%2D1944%2D202210%2FDocumentos%20compartidos%2FGeneral%2FRecordings

DATA ANALISIS

In [6]:
data.head(10)

,p_id,no_times_pregnant,glucose_concentration,blood_pressure,skin_fold_thickness,serum_insulin,bmi,diabetes pedigree,age,diabetes
0,316,2,112,68,22,94,34.1,0.315,26,0
1,25,11,143,94,33,146,36.6,0.254,51,1
2,710,2,93,64,32,160,38.0,0.674,23,1
3,658,1,120,80,48,200,38.9,1.162,41,0
4,542,3,128,72,25,190,32.4,0.549,27,1
5,152,4,114,65,0,0,21.9,0.432,37,0
6,173,2,87,0,23,0,28.9,0.773,25,0
7,276,2,100,70,52,57,40.5,0.677,25,0
8,624,0,94,70,27,115,43.5,0.347,21,0
9,443,4,117,64,27,120,33.2,0.230,24,0